
node_modules/
android/
ios/
*.lock
*.min.js
*.min.css
*.snap
*.svg
*.md
*.toml
*.yml
*.json
*.html
*.ejs
*.txt
*.log
*.sh
*.patch
*.diff
*.pdf
*.ico
*.ttf
*.woff
*.woff2
.DS_Store
.git
.vscode
.idea
coverage
build
dist